body {
	background-size: 100%;
	background-repeat: no-repeat;
	background-image: url(https://thumbs.gfycat.com/UglyUntriedBrant-small.gif);
}	
header {
	background-color: black;
	color: white;
}
.caixa-navegacao {
	display: flex;
	height: 10vh;
}
.caixa-atividades {
	width: 80%;
    display: flex;
    align-items: center;
}
.menu {
	width: 60%;
	display: flex;
    justify-content: space-around;
    text-align: center;
}
.menu-item {
	list-style: none;
}
a {
	text-decoration: none;
	color: white;
}
.caixa-logo {
	width: 15%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center
}
.logo-ntx {
	width: 80%;
}
.caixa-informacoes {
	width: 26%;
}
.atividades-informacoes {
	width: 100%;
	height: 100%;
	display: flex;
    align-items: center;
    justify-content: flex-end;
}
.caixa-conf {
	width: 17%;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    justify-content: space-evenly;
}
.pesquisa-icon {
	width: 10%;
}
.pesquisa {
	width: 60%;
    height: 47%;
    display: none;
    align-items: center;
    justify-content: center;
    border-style: black;
   	background-color: black;
}
.info-logo {
	width: 22%
}
.notificacao {
	width: 30%;
}
main {
}